<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>





<h1>SHOES RESALE</h1>
</div>

<div class="container1">
<form class="form1" action="/database/add" method="post">
    <h2>CREATE SALE POST</h2>
    <label><b>First Name</b></label><br>
    <input type = "text" name = "fname" value = "" placeholder = " First Name" required> <br>
    <label><b>Location</b></label><br>
    <input type = "text" name = "location" value = "" placeholder="Where are you from?" required> <br>
    <label><b>Shoe Type</b></label><br>

    <select name ="shoetype" id="shoetype"required>
      <option value="" disabled selected>Select Shoe Type</option>
      <option value="1">CASUALS</option>
      <option value="2">RUNNERS</option>
      <option value="3">HEELS</option>
      <option value="4">SANDALS</option>
    </select>
    <br>

    <label><b>Condition</b></label><br>
    <input type = "number" name = "condition" value = "" placeholder="Condition of Shoes Out of 10"min="1" max="10"required> <br>

    <label><b>Size Type</b></label><br>
    <select name="sizetype" id="sizetype" required>
      <option value="" disabled selected>Select Size Type</option>
      <option value="MENS">MENS</option>
      <option value="WOMENS">WOMENS</option>
      <option value="YOUTH">YOUTH</option>
    </select>
    <br>

    <label><b>Size</b></label><br>
    <input type = "number" name = "size" value = "" placeholder="Size" min="1" max="13"required> <br>
    <label><b>Colour</b></label><br>
    <select name="colour" id="colour"required>
      <option value="" disabled selected>Select Main Shoe Colour</option>
      <option value="RED">RED</option>
      <option value="ORANGE">ORANGE</option>
      <option value="YELLOW">YELLOW</option>
      <option value="GREEN">GREEN</option>
      <option value="BLUE">BLUE</option>
      <option value="PURPLE">PURPLE</option>      
      <option value="PINK">PINK</option>    
      <option value="WHITE">WHITE</option>
      <option value="GREY">GREY</option>      
      </select>
    <br>
    <label><b>Price</b></label><br>
    <input type = "number" name = "price" value = "" placeholder="Price" min="0"required> <br>
  
    <label><b>Phone Number</b></label><br>
    <input type = "text" name = "uid" value = "" placeholder="Enter your phone number"required> <br>
    <br>

    <input type = "submit" name = "sub" value = "POST"> <br>

</form>
</div>

</body>
</html>